@font-face{
    font-family:w3incons;
    src: url(../font/fontawesome8deb.woff);
}

*{
    box-sizing:border-box;
    color:black;
    font-family:verdana;
    transition:  .1s linear;
}
body{
    height: auto;
    background: #b1d1f21a;
    margin:0px;
    overflow-x: auto;
}

#header{
    height: auto;
    width: 100%;
    padding: 0px;
    box-sizing: border-box;
    position: fixed;
    left: -7px;
    top: 0px;
    margin: 0px;
    margin-bottom: 10px;
    z-index: 100;
}


#navbar{
    z-index: 1000;
    width: 101%;
    height: 45px;
    background: #343a40;
    overflow: hidden;
}
#navbar > a{
    width: 150px;
    height: 100%;
    display: inline-block;
    background: #242424;
    color: white;
    text-decoration: none;
    line-height: 45px;
    position: relative;
    left: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    text-align: center;
    border-right: 2.5px solid white;
}
#navbar>a:hover{
    background: white;
    color: black!important;
}

/* Home nav icon */
#homelink{
    color: white;
    font-family: w3incons;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
}
#homelink:hover{
    color: dodgerblue;
}
#homelink:after{
    content: '\e800';
}



.sticky{
    position: fixed;
    top: 0px;
}

/* ------------------------------sidenav---------------------------------- */

#sidenav{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    width: 150px;
    min-height: 100%;
    height: 100%;
    background: black;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index:10;

}

#createnewpost{
    text-decoration: none;
    display: block;
    width: 100%;
    height: 61px;
    line-height: 40px;
    color: white;
    background: dodgerblue;
    border-top: 20px solid white;
    border-bottom: 1.5px solid #434343;
    text-align: center;
    position: relative;
    top: 40px;
    box-sizing: border-box;
    margin: 0px;
}

#posts, #comments, #drafts{
    font-size: 15px;
    color: white;
    background: #2a2a2a;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #434343;
    line-height: 40px;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    top: 40px;
}
#sidenav div:active {
    color:dodgerblue;
}

#comments{
}
#drafts{
}

#createnewpost:hover,#posts:hover, #comments:hover, #drafts:hover{
    background:#1c1c1c;
}
#createnewpost:hover{
    background:#1d83e7;
}
.selected{    
    background: dodgerblue!important;
    box-shadow: inset 0px 0px 8px 0px #4b5489;
}
/* --------------------------------- style for post tab ------------------------------------- */
#all-post-content{
    width: 1168px;
    min-height:600px;
    box-shadow: 1px 4px 5px #aaa;
    position: relative;
    margin-top: 100px;
    margin-left: 235px;
    overflow-x: scroll;
}
#allposts{
    width: 100%;
    height: 100%;
}
#allpostsheader{
    width: 100%;
    height:45px;
    background: #eee;
    border: 1px solid #00000036;
    /* border-left: 0px; */
    margin: 0px;
    box-shadow: 0px 0px 5px #aaa;
}
.allpostsheader-element{
    display: block;
    float: left;
    text-align: center;
    width:120px;
    height: 100%;
    line-height: 45px;
    border-right: 1px dotted gray;
    margin: 0px;
    padding: 0px;
    cursor:pointer;
}

#postnumberhash{
    width: 50px;
    font-weight: bold;
    
}
#posttitle{
    width: 352px;
}
#posttumbpic{
    width: 104px;
}
.tools{
    width:100px;
    background:#cccbcd;
    border:none;
    font-style:italic;
    font-size:14px;
    color:#000070;
    cursor: default;
}
#draft{
    border-right:none;
}
#unpublish{
    width:120px;
}
.post{
    width: 100%;
    height: 87px;
    margin-top:5px;
    box-shadow: 0px 0px 5px #bbb;
    overflow: hidden;
    transition: .6s ease-out;
}

.dashboard-post-element{
    padding: 7px 8px 17px 27px;
    height: 100%;
    display: block;
    float: left;
    text-align: center;
    /* box-sizing: border-box!important; */
    overflow: hidden;
    border-right: 1px dotted #046cff21;
    word-break: break-word;
}
#dashboard-post-number{
    text-align: start;
    border-left: 5px solid black!important;
    width: 51px;
    height: 100%;
    text-align: start;
    border-left: 0px solid transparent;
    padding: 33px 20px;
}
#dashboard-post-title{
    width: 352px;
}
#dashboard-post-tumbnail{
    border-radius: 10px;
    padding: 0px;
    width: 104px;
}
#dashboard-post-visit{
    width: 120px;
    padding: 32px 0px;
}
#dashboard-post-comments{
    width: 120px;
    padding: 33px 0px;
    text-align: center;
}
#dashboard-post-delete{
    padding: 15px 15px;
    margin-top: 10px;
    width: 100px;
    opacity:.6;
    cursor:pointer;
}
#dashboard-post-delete:hover{ 
    opacity: 1;
}
#dashboard-post-edit{
    padding: 15px 15px;
    margin-top: 10px;
    width: 100px;
    opacity:.6;
    cursor:pointer;
}
#dashboard-post-edit:hover{
    opacity: 1;
}
#dashboard-post-draft{    
    width: 100px;
    font-family: w3incons;
    font-size: 24px;
    line-height: 82px;
    opacity: .6;
    cursor: pointer;
    padding: 0;
}
#dashboard-post-draft:hover{
    opacity:1;
}
#dashboard-post-draft:after{
    content: '\e804';
}
#dashboard-post-unpublish{
    width: 120px;
    padding: 0px;
    text-align: center;
    line-height: 87px;
    cursor: pointer;
}

#dashboard-post-unpublish{
    opacity: .6;
}
#dashboard-post-unpublish:hover{
    opacity: 1;
}

/* --------------------------------- / post tab ----------------------- */
