/* -----------------------style for user page--------------------------------- */
#leftside {
  margin-bottom: 50px;
  padding-bottom: 10px;
  width: 350px;
  min-height: 480px;
  height: auto;
  background: white;
  border: 1px solid #72541d54;
  padding: 20px;
  margin: 10px;
  -webkit-box-shadow: inset 0px 0px 100px 100px white;
          box-shadow: inset 0px 0px 100px 100px white;
  display: block;
  float: left;
  overflow: hidden;
}
#prfile-pic {
    width: 120px;
    height: 150px;
    position: relative;
    box-shadow: 0px 0px 5px #aaa;
    overflow: hidden;
}
#prfile-pic-caption {
  font-size: 11.5px;
  text-align: center;
  font-weight:700;
}

#userdetail {
  margin-bottom: 50px;
  padding-bottom: 10px;
  width: 450px;
  background: white;
  border: 1px solid #000000;
  padding: 20px;
  margin: 10px;
  -webkit-box-shadow: inset 0px 0px 100px 100px white;
  box-shadow: inset 0px 0px 100px 100px white;
  display: block;
  float: left;
}

.user-detail-element {
  width: 100%;
  min-height: 30px;
  padding: 4px 0px;
  background: linear-gradient(to left,#dfdfdf, white);
  color: black;
  /* border-radius: 5px; */
  /* border: .8px solid #7a7a7a; */
  border-bottom: none;
  border-bottom: .8px solid #5542134a;
  /* margin-top: 18px; */
  /* position: relative; */
  /* padding-left: 10px; */
  /* box-shadow: 1px 1px 4px lightgrey; */
  line-height: 30px;
  text-shadow: 1px 0px 0.5px #7e7e7e;
  overflow: hidden;
  font-size: 14px;
}

.user-detail-element strong {
  display: inline-block;
  color: black;
  text-shadow: none;
  /* height: 40px; */
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  text-shadow: 0px 0px 1.5px #535353;
}

.user-detail-element:nth-child(odd) {background: linear-gradient(to right,#dfdfdf, white);}

#edit-detail {
  width: 25px;
  height: 25px;
  display: block;
  float: right;
  position: relative;
  top: 5px;
  right: 10px;
  cursor: pointer;
  display: none;
}

#edit-detail path {
  fill: black;
}

#edit-detail path:hover {
  fill: lightcoral;
  -webkit-box-shadow: 0px 0px 5px #aaa;
          box-shadow: 0px 0px 5px #aaa;
}

input#input_user_detail {
  width: 60%;
  margin-left: 3px;
  height: 34px;
  border-radius: 5px;
  border: 1.3px solid #1e90ffbd;
  outline: none;
  font-size: 15px;
  padding-left: 10px;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  color: dodgerblue;
}

input#input_user_detail:focus {
  -webkit-box-shadow: 0px 0px 3px dodgerblue;
          box-shadow: 0px 0px 3px dodgerblue;
  color: dodgerblue;
}

span#input_user_detail_save {
  display: inline-block;
  width: 80px;
  height: 33px;
  line-height: 34px;
  background: dodgerblue;
  text-align: center;
  color: white;
  border-radius: 5px;
  /* border: 1.4px solid white; */
  cursor: pointer;
  position: relative;
}

span#input_user_detail_save:hover {
  background: #4CAF50;
}

#container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 950px;
  min-height: 600px;
  max-height: 1500px;
  overflow: hidden;
  /* height: auto; */
  background: #b22077;
  /* box-shadow: 0px 0px 3px #bababa; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-radius: 5px;
}
/*# sourceMappingURL=profile.css.map */